*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;
}
.container .products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
}
.container .products .product{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 30px;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.container .products .product .detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .products .product .detail .add-to-basket{
    background-color: lime;
    border: 1px solid #000;
    padding: 4px 10px;
    border-radius: 10px;
}
.container .products .product .detail .add-to-basket:hover{
    background-color: #000;
    border: 2px solid lime;
    color: lime;
    transition: 0.4s ease;
    cursor: pointer;
}
.container .cart-template{
    width: 1000px;
}
.container .cart-template .top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}
.container .cart-template .top > h3{
    font-family: cursive;
    letter-spacing: 2px;
}
.container .cart-template .top > h3::after{
    content: '';
    width: 200px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 5px 0px
}
.product-detail{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    margin: 40px auto;
    border: 1px solid gray;
    border-radius: 5px;
}
.product-detail .img-product{
    width: 80px;
    height: 80px;
}
.product-detail .img-product img{
    width: 100%;
    height: 100%;
}
.product-detail .product-price p{
    font-weight: bold;
    font-size: 18px;
}
.product-detail .quantity-btn{
    width: 200px;
    text-align: center;
}
.product-detail .quantity-btn input{
    width: 50px;
}
.product-detail .quantity-btn button{
    background-color: red;
    color: #fff;
    padding: 3px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}
.total{
    width: 80%;
    height: 2px;
    background-color: #000;
    margin: 10px auto 100px auto;
    display: flex;
    justify-content: flex-end;
}
.total p{
    margin: 10px 50px 0 0;
    font-weight: bold;
    font-size: 23px;
}
.total .total-price{
    margin: 14px 20px 0 0;
    font-size: 18px;
}